<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="defaultPushSource" value="https://repo.pandoras.dev/repository/PandoraLibCSharp/" />
  </config>
  <packageSources>
    <add key="PandoraLibCSharp" value="https://repo.pandoras.dev/repository/PandoraLibCSharp/" />
  </packageSources>
</configuration>